* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: linear-gradient(135deg, #7c2d12, #a16207);
}

.video-container{ 
    display: flex;
    align-items: center;
    justify-content: center;
    

    
    
    
}

.audio-container{
                 display: flex;
    align-items: center;
    justify-content: center;


}
.video-padding{
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
   
    border: black 3px solid;
}
    .audio-padding{
        padding: 10px;
        background-color: #fff;
        border-radius: 5px;
        border: black 3px solid;
    }
    p{
        color:  #7c2d12;

    }
    h1{
        color: #7c2d12;
    }
    cite{
        font-size: larger;
        font-weight: 500;
    }
    .video-text{
     padding: 40px;
    background-color: #fff;
    grid-area: auto;
    border-radius: 20px;
    display: grid;
    color:  #7c2d12;
    }
    #audio-text{
         padding: 40px;
    background-color: #fff;
    grid-area: auto;
    border-radius: 20px;
    display: grid;
    color:  #7c2d12;
    }